version 5.206.0
source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netcoreapp2.2
storage: none

// Shared dependencies
nuget FSharp.Core
nuget Microsoft.FSharpLu.Json
nuget Newtonsoft.Json
nuget TaskBuilder.fs

// Azure functions
nuget Giraffe
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.Cors
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.NET.Sdk.Functions
nuget Microsoft.Azure.WebJobs.Extensions.Storage
nuget Microsoft.Azure.WebJobs.Extensions.DurableTask
nuget WindowsAzure.Storage
nuget Fable.Remoting.Giraffe

// Libraries
nuget Mailjet.Api

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.Elmish.Browser ~> 3
    nuget Fable.React ~> 5
    nuget Fable.Remoting.Client ~> 5
    nuget Fulma ~> 2

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem