group Server
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: auto-detect
    nuget FSharp.Core
    nuget Giraffe
    nuget Microsoft.NET.Sdk.Functions
    nuget Microsoft.Azure.WebJobs.Extensions.Storage
    nuget Microsoft.Azure.WebJobs.Extensions.DurableTask
    nuget WindowsAzure.Storage
    nuget Fable.Remoting.Giraffe
    nuget MailChimp.Net.V3

group Libraries
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: auto-detect
    nuget FSharp.Core
    nuget Mailjet.Api
    nuget Microsoft.FSharpLu.Json
    nuget Newtonsoft.Json
    nuget TaskBuilder.fs

group Client
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: auto-detect
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Feliz
    nuget Feliz.Router
    nuget Feliz.Bulma
    nuget Fulma
    nuget Fable.Remoting.Client

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem