body {
    font-size: 1.1rem;
    font-family: 'Nunito Sans';
    height: 100vh;
}

h1, h2 {
    color: #914164 !important;
}

.navbar-end {
    text-transform: uppercase;
}

.navbar-item img {
    max-height: 6rem;
}

a.navbar-item:hover, 
a.navbar-link:hover,
.navbar-dropdown a.navbar-item:hover {
    color: #914164 !important;
}

a,
a.navbar-item.is-active {
    /* color: #ef77ac; */
    color: #914164;
}

/* custom  */
.just-image {
    padding: 0
}

.section-top {
    background-color: pink;
}

.practice {
    background-color:white;
    margin-bottom: 5rem !important;
    border-radius: 0.2rem;
}

.fill {
    margin: auto;
}

.center-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: -7rem;
}

.lessons {
    background-image: url('Jana_22.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.lessons .text {
    background-color: white;
}

.lessons .empty {
    background-color: transparent;
    height: 20rem;
}


.about-me h1,
.about-me h2 {
    margin-bottom: 2rem;
    margin-top: 3rem !important;
}

.contact {
    font-size: 1.3rem;
}
