.navbar-end {
    text-transform: uppercase;
}

.navbar-item img {
    max-height: 6rem;
}

body{
    background-image: url("Jana_18.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

a.navbar-item:hover, 
a.navbar-link:hover,
.navbar-dropdown a.navbar-item:hover {
    color: #914164 !important;
}

a,
a.navbar-item.is-active {
    /* color: #ef77ac; */
    color: #914164;
}

/* custom  */
.just-image {
    padding: 0
}

.section-top {
    background-color: pink;
}

.lessons {
    background-color:white;
    margin-bottom: 5rem !important;
    font-size: 1.3rem;
}

.fill {
    margin: auto;
}