.navbar-end {
    text-transform: uppercase;
}

.navbar-item img {
    max-height: 6rem;
}

body{
    background-image: url("Jana_44.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.card {
    margin-bottom: 3rem;
}

a.navbar-item:hover, 
a.navbar-link:hover,
.navbar-dropdown a.navbar-item:hover {
    color: #914164 !important;
}

a.navbar-item.is-active {
    /* color: #ef77ac; */
    color: #914164;
}

/* custom  */
.just-image {
    padding: 0
}

.section-top {
    background-color: pink;
}