.aboutme {
    background-image: url('../public/img/aboutme_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover !important;
}