// html{
//     height:100%;
//     min-height:100%;
//     }

body {
    font-size: 1.1rem;
    font-family: 'Nunito Sans';
}

h1, h2 {
    color: #11acc7 !important;
    text-transform: uppercase;
    font-weight: 300 !important;
}


a:hover {
    color: #11acc7 !important;
}
a {
    color: #0f7989 !important;
}
// a.navbar-item:hover, 
// a.navbar-link:hover,
// .navbar-dropdown a.navbar-item:hover {
//     color: #11acc7 !important;
// }

// a,
// a.navbar-item.is-active {
//     color: #0f7989;
// }

// menu
.navbar-item {
    img {
        max-height: 6rem;
        padding: 0.6rem;
    }
}
.navbar-end {
    text-transform: uppercase
}

// global
.empty {
    background-color: transparent;
    height: 20rem;
}

.text {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.centered {
    text-align: center;
}

a.mindful-link {
    font-weight: bold;
}


// lessons
.lessons {
    background-image: url('../public/img/lessons_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover !important;
    
}