.individual-lessons {
    background-image: url('../public/img/individuallessons_bg.jpg'); 
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size: cover !important;

    .cta {
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
}
