.lessons {
    background-image: url('../public/img/lessons_bg.jpg'); 
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size: cover !important;

    .info {
        margin-top: 3rem;
        font-style: italic;
    }

    // a {
    //     font-weight: bold;
    // }

    // .content {
    //     margin-bottom: 5rem !important;
    //     border-radius: 0.2rem;
    //     background-color: white;
    //     padding: 1.5rem;
    // }
    
    // .text {
    //     background: none !important;
    // }

    .cta {
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}