.mindfulyoga {
    background-image: url('../public/img/mindful_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover !important;
    
    .cta {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        
    }
    
    .join {
        h3 {
            margin-top: 3rem;
            color: #11acc7 !important;
            text-align: center;
        }
    }
}

.fa-ul {
    margin-left: 2rem !important;
    li {
        svg {
            color: #11acc7;
        }
        list-style-type: none;
        padding-left: 1.5rem;
    }
    margin-bottom: 1.5rem;
    
}

