.retreat {
    background-image: url('https://res.cloudinary.com/mindfulyoga/image/upload/c_scale,w_2050/v1556132130/newsletters/mlyn.png'); 
    background-repeat:no-repeat;
    background-position: top;
    background-attachment:fixed;
    background-size: auto !important;
}