.retreat {
    background-image: url('../public/img/retreat.jpg'); 
    background-repeat:no-repeat;
    background-position: top;
    background-attachment:fixed;
    background-size: contain !important;
}