.srilanka2020 {
  background-image: url('../public/img/srilanka_bg.jpg');
  background-repeat:no-repeat;
  background-position: top;
  background-attachment:fixed;
  background-size: auto !important;
}