.workshops {
  background-image: url('../public/img/workshops_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover !important;
}